.allServices{
    margin: 4rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
}
.allServices_content-item{
    width: 380px;
    height: 150px;
    padding: 2rem;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(52, 69, 113, 0.16);
    display: flex;
    align-items: center;
}
.allServices_content-item:hover{
    box-shadow: 0 0 20px rgb(48, 149, 137);
}
.allServices_content-item_image {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-right: 1.5rem;
    background-color: cyan;
    display: flex;
    justify-content: center;
    align-items: center;
}
.allServices_content-item_image img{
    height: 60%;
    width: 60%;
}
